@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.header__nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin-right: 10px;
  height: 100%;

  .burger__label {
    @media (min-width: map-get($test-breakpoints, md)) {
      display: none;
    }
  }

  .burger__menu {
    @media (min-width: map-get($test-breakpoints, md)) {
      display: none;
    }
  }

  .menu {
    display: none;

    @media (min-width: map-get($test-breakpoints, md)) {
      display: flex;
    }
  }
}
