@use '../../styles/variables' as *;

.info {
  padding: 0px map-get($test-content-padding, padding-xs);
  margin-bottom: 20px;

  &__read-more-checkbox {
    display: none;
    
    &:checked {
      + .info__link {
      display: none;
      }

      +.info__link + .info__more-text {
      display: block;
      }
    }

  }

  &__title {
    font-size: 18px; 
    line-height: 21.6px;

    @media (min-width: map-get($test-breakpoints, md)) {
      font-size: 24px;
      line-height: 28.8px;
    }

    @media (min-width: map-get($test-breakpoints, lg)) {
      font-size: 32px;
      line-height: 38.4px; 
    }
  }

  &__text {
    font-size: 14px; 
    font-weight: 700;
    line-height: 16.8px;

    @media (min-width: map-get($test-breakpoints, md)) {
      font-size: 16px;
      line-height: 19.2px;
    }

    @media (min-width: map-get($test-breakpoints, lg)) {
      font-size: 20px;
      line-height: 24px; 
    }
  }

  &__more-text {
    display: none;
    font-size: 14px; 
    font-weight: 700;
    line-height: 16.8px;

    @media (min-width: map-get($test-breakpoints, md)) {
      font-size: 16px;
      line-height: 19.2px;
    }

    @media (min-width: map-get($test-breakpoints, lg)) {
      font-size: 20px;
      line-height: 24px; 
    }
  }

  &__link {
    cursor: pointer;

    color: $test-yellow;
    text-decoration: none;

    font-size: 14px; 
    font-weight: 700;
    line-height: 16.8px;

    @media (min-width: map-get($test-breakpoints, md)) {
      font-size: 16px;
      line-height: 19.2px;
    }

    @media (min-width: map-get($test-breakpoints, lg)) {
      font-size: 20px;
      line-height: 24px; 
    }

    &:hover {
      opacity: 0.6;
    }
  }
}

@media (min-width: map-get($test-breakpoints, md)) {
  .info {
    padding: 0px map-get($test-content-padding, padding-md);
  }
}
 
@media (min-width: map-get($test-breakpoints, lg)) {
  .info {
    padding: 0px map-get($test-content-padding, padding-lg);
  }
}