@use '../../../styles/variables' as *;

.footer {
   background-color: $test-black;
   color: $test-yellow;
   height: $test-footer-height;
   display: flex;
   justify-content: center;
   line-height: 28px;

   &__rocket {
      width: auto;
      height: 78px;
      top: 0;
   }

   &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      position: relative;
   }

   p {
      width: 209px;
      position: absolute;
      top: 40%;
   }
}